
body{
    background-color: aquamarine;
    background:url("homebg.jpg");
    background-size: cover;
}

p{
    margin-right: 30%;
color: white;
}

h1{
    margin-left: 39%;
color: whitesmoke;
text-decoration: underline;
}